.dashboard {
  @extend %contained;
  margin-top: $distance_from_top;
  max-width: 100%;

  &__wrapper {
    position: relative;
  }

  &__message {
    @extend %title;
    display: none;
    text-align: center;
    margin-top: 200px;
    padding-left: 30%;
    padding-right: 30%;
    word-wrap: break-word;
  }

  &__message--shown {
    display: block;
  }

  &--shrink {
    max-height: 500px;
  }
}
