$col_antiflash_white: rgba(50, 60, 71, 31);
$col_antiflash_white-transparent: rgba(239, 243, 248, 0.70);
$col_cambridge_blue: #9ABFBF;
$col_dark_gray: #9EA6Af;
$col_charcoal: #323C47;
$col_platinum: #DDE4ED;
$col_pastel_blue: #ABCECD;
$col_pastel_blue-light: #DAE9E9;
$col_auro_metal_saurus: #697683;
$col_light_carmine_pink: #DA6E6E;
$col_white: #FFFFFF;
