@import './_colors.scss';
// fonts
$proxima: 'Montserrat', 'Muli', sans-serif;
$zilla:  'Zilla Slab', serif;
$zilla-hightlited: 'Zilla Slab Highlight', cursive;

// containments
$desktop_paddings: 130px;
$distance_from_top: 80px;
$distance_from_bottom: 110px;

// breakpoints
$tablet: 630px;
$tablet-large: 768px;
$desktop: 1024px;
$desktop-medium: 1241px;
$desktop-large: 1439px;
$desktop-extra-large: 1900px;


// setup default component
$text_typography: $proxima;
$text_color: $col_dark_gray;

$title_typography: $proxima;
$title_color: $col_charcoal;

$link_color: $col_cambridge_blue;
$link_typography: $proxima;
