@import './../_colors';

.search-tool {
  // width: 250px;
  height: 45px;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 6px;
  background-color: $col_platinum;
  color: $col_charcoal;
  &__wrapper {
    background-color: $col_platinum;
    border-radius: 6px;

    &::after {
      content: 'A';
      padding-right: 10px;
    }
  }
}
