@import './../_colors';

.search-tool {
  // width: 250px;
  height: 45px;
  border: none;
  padding-right: 15px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 6px;
  background-color: $col_platinum;
  color: $col_charcoal;
  width: 80%;

  &__wrapper {
    background-color: $col_platinum;
    border-radius: 6px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__icon {
    display: inline-block;
    padding-top: 5px;
    font-size: 20px;
    colοr: $col_charcoal;
    opacity: 0.7;
  }
}
