.search-tool {
  width: 250px;
  height: 45px;
  border: none;
  padding: 20px;
  border-radius: 6px;
  background-color: $col_platinum;
  color: $col_charcoal;
  &__wrapper {
    background-color: $col_platinum;
    border-radius: 6px;

    &::after {
      content: 'A';
      padding-right: 10px;
    }
  }
}
