.app {

  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(150deg,
                              $col_platinum,
                              $col_pastel_blue 70%
                              );

  &__container {
    width: 100%;
    min-height: 100vh;
  }
}

%contained,
.contained {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  // max-width: 260px;
  max-width: 90%;

  @media screen and (min-width: $tablet) {
    max-width: 600px;
  }

  @media screen and (min-width: $tablet-large) {
    max-width: 740px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 980px;
  }

  @media screen and (min-width: $desktop-medium) {
    max-width: 1100px;
  }

  @media screen and (min-width: $desktop-large) {
    max-width: 1340px;
  }

  @media screen and (min-width: $desktop-extra-large) {
    max-width: 1800px;
  }
}
