@import './../text/_text.scss';

.footer {
  @extend %text;
  @extend %text--white;
  @extend %text--small;

  width: 100%;
  margin-top: $distance_from_bottom;
  background-color: $col_charcoal;
  padding-top: 35px;
  padding-bottom: 30px;

  &__container {
    @extend %contained;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items:center;
  }

  &__logo-wrapper {
    max-width: 100px;
  }

  &__logo {
    width: 100px;
  }

  &__text  {
    @extend %text--right;
    max-width: 220px;
  }
}
